{{!-- Largedly adopted from CS340 starter_code --}}
<html>
  <body>
    <h1> Navigation Pane  </h1>
    [ <a href="/">Back to main page</a> ]
    <p></p>
    [ <a href="/classes">Manage Classes</a> | <a href="/instructors">Manage Instructors</a> 
    | <a href="/students">Manage Students</a> | <a href="/registrations">Manage Registrations</a> | 
    <a href="/registrationdetails">Manage Registration Details</a> | <a href="/sections">Manage Sections</a> | <a href="/departments">Manage Departments</a> ]
    </body>
</html>
  <p>&nbsp;</p>

<h1>Manage Classes</h1>
<p>View, add new, search for and update classes - All in ONE place!</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="../css/style.css" rel="stylesheet" type="text/css" />

{{!-- Create a table --}}
<table id="classes-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}
        <tr data-value={{this.class_id}}>
            <td>{{this.class_id}}</td>
            <td>{{this.class_code}}</td>
            <td>{{this.class_name}}</td>
            <td>{{this.department_id}}</td>
            <td>{{this.capacity}}</td>
            <td>{{this.instructor_id}}</td>
            <td>{{this.section}}</td>
            <td>{{this.year}}</td>
            <td>{{this.quarter}}</td>
            <td><button onclick="deleteClass({{this.class_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_class.js"></script>

{{!-- Form to add a record to the table using AJAX --}}
<h2>Adding a new class</h2>
<p>To add a new class, please enter its information below and click 'Submit'!</p>
<form id="add-class-form-ajax">
    <label for="input-class_id">Class ID: </label>
    <input type="number" name="input-class_id" id="input-class_id">

    <label for="input-class_code">Class Code: </label>
    <input type="text" name="input-class_code" id="input-class_code">
    
    <label for="input-class_name">Class Name: </label>
    <input type="text" name="input-class_name" id="input-class_name">

    <label for="input-department_id">Department ID: </label>
    <select name="input-department_id" id="input-department_id">
        <option value="">Select a Department</option>
        {{#each departments}}
        <option value="{{this.department_id}}">{{this.department_name}}</option>
        {{/each}}
    </select>

    <label for="input-capacity">Capacity: </label>
    <input type="number" name="input-capacity" id="input-capacity">

    <label for="input-instructor_id">Instructor: </label>
    <select name="input-instructor_id" id="input-instructor_id">
        <option value="">Select an Instructor</option>
        {{#each instructors}}
        <option value="{{this.instructor_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="input-section">Section: </label>
    <select name="input-section" id="input-section">
        <option value="">Select a Section</option>
        {{#each sections}}
        <option value="{{this.section}}">{{this.section}} {{this.method}}</option>
        {{/each}}
    </select>

    <label for="input-year">Year: </label>
    <select name="input-year" id="input-year">
        <option value="">Select a year</option>
        <option value=2023>2023</option>
        <option value=2024>2024</option>
        <option value=2025>2025</option>

    </select>

    <label for="input-quarter">Quarter: </label>
    <select name="input-quarter" id="input-quarter">
        <option value="">Select a quarter</option>
        <option value="Spring">Spring</option>
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
        <option value="Winter">Winter</option>

    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_class.js"></script>

<h2>Search for Class using an HTML Form</h2>
<p>Search by class name using the field below. Partial class names are OK too!</p>
<form id="search-class-html" method='GET' action='/classes'>
    <label for="input-class_name">Search by Class Name: </label>
    <input type="text" name="class_name" id="input-class_name-html-search">
    
    <input type="submit">
    <a href='/classes'><button>Reset</button></a>
</form>

<h2>Updating A Class's Information Form</h2>
<p>To update a specific Class's data select it from the drop-down menu on the left and input new data into corresponding boxes.</p>
<form id="update-class-form-ajax">

    <label for="input-class_id_update">Class ID: </label>
    <select name="input-class_id_update" id="mySelect">
        <option value="test">Select a Class</option>
        {{#each data}}
        <option value="{{this.class_id}}">{{this.class_id}} {{this.class_code}} {{this.year}} {{this.quarter}}</option>
        {{/each}}
    </select>

    <label for="input-class_code">Class code: </label>
    <input type="text" name="input-class_code" id="input-class_code-update">

    <label for="input-department_id">Class name: </label>
    <input type="text" name="input-class_name" id="input-class_name-update">
    
    <label for="input-class_name">Department ID: </label>
    <select name="input-department_id" id="input-department_id-update">
        <option value="">Select a Department</option>
        {{#each departments}}
        <option value="{{this.department_id}}">{{this.department_name}}</option>
        {{/each}}
    </select>

    <label for="input-capacity">Capacity: </label>
    <input type="number" name="input-capacity" id="input-capacity-update">
    <p></p>
    <label for="input-instructor">Instructor: </label>
    <select name="input-instructor" id="input-instructor-update">
        <option value="">Select an Instructor</option>
        {{#each instructors}}
        <option value="{{this.instructor_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    

    <label for="input-section">Section: </label>
    <select name="input-section" id="input-section-update">
        <option value="">Select a Section</option>
        {{#each sections}}
        <option value="{{this.section}}">{{this.section}} {{this.method}}</option>
        {{/each}}
    </select>

    <label for="input-year">Year: </label>
    <input type="text" name="input-year" id="input-year-update">

    <label for="input-quarter">Quarter: </label>
    <input type="text" name="input-quarter" id="input-quarter-update">

    <input type="submit">
</form>

<script src="./js/update_class.js"></script>